.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $lightGrey;
  font-family: $font-title;
  padding: 2rem 2.5rem 1.8rem;
  gap: 1.5rem;

  &__brand {
    font-size: 2.5rem;
    color: $white;
    font-family: $font-title;
    font-weight: 400;
    letter-spacing: 0.4px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    a {
      font-size: 1rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $white;
      font-weight: 400;
      text-decoration: none;
      margin-right: 1.5rem;
      padding: 0px 0.5rem 3px;
      padding-bottom: 3px;
      border-bottom: 0px solid transparent;
      transition: all 0.2s ease-in-out;
      position: relative;

      &:last-child {
        margin-right: 0px;
      }

      &:hover,
      &.active {
        @include get-colors(false);
        transform: scale(1.05);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0px;
        height: 2px;
        width: 0;
        transition: inherit;
      }
      &::before {
        content: '';
        position: absolute;
        left: -10px;
        top: 0px;
        bottom: 0px;
        margin: auto;

        width: 10px;
        height: 10px;
        transform: scale(0);
        border-radius: 50%;
        transition: inherit;
      }
    }
  }

  &__icon {
    font-size: 1.5rem;
    color: $white;
    cursor: pointer;
  }
}

@media screen and (max-width: 1400px) {
  .header {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .header {
    flex-direction: row;
  }
  .header__links {
    display: none;
  }
}
