@mixin setColor($color, $index, $occult-border) {
  &:nth-child(#{$index}) {
    @if ($occult-border == false) {
      color: $color;
    }

    &::before {
      background-color: $color;
      transform: scale(1);
      border-radius: 50%;
    }
    @if ($occult-border) {
      &::after {
        background-color: $color;
        width: 100%;
      }
    }
  }
}

@mixin get-colors($occult-border) {
  @for $i from 1 through 8 {
    @if $i == 1 {
      @include setColor($mercury, $i, $occult-border);
    }
    @if $i == 2 {
      @include setColor($venus, $i, $occult-border);
    }
    @if $i == 3 {
      @include setColor($earth, $i, $occult-border);
    }
    @if $i == 4 {
      @include setColor($mars, $i, $occult-border);
    }
    @if $i == 5 {
      @include setColor($jupiter, $i, $occult-border);
    }
    @if $i == 6 {
      @include setColor($saturn, $i, $occult-border);
    }
    @if $i == 7 {
      @include setColor($uranus, $i, $occult-border);
    }
    @if $i == 8 {
      @include setColor($neptune, $i, $occult-border);
    }
  }
}
